* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #e5e5e5;
}

.body1 {
   width: 1349px;
   margin: 0 auto;
   background-color: #F8F8F8;
}

/* header */
header {
   display: flex;
   height: 69px;
   position: fixed;
   width: 1349px;
   background-color: white;
   justify-content: space-between;
   align-items: center;
}

.menu {
   font-family: 'Cardo', serif;
   font-size: 17px;
   width: 300px;
   margin-left: 15px;

}

.menu a {
   color: black;
   text-decoration: none;
   padding: 5px;

}

.headerImg {
   margin: 0 auto;
   justify-content: center;
   margin-left: 300px;
}

/* content */
.fon {
   background-image: url(./img/fon.png);
   width: 100%;
   height: 700px;

}

.content {
   color: white;
   text-align: center;
   padding: 200px 300px;
}

.conHeahet {
   width: 807px;
   font-family: 'Roboto', sans-serif;
   margin-top: 50px;
   padding: 15px;
}

.conHeahet p {
   margin-top: 10px;
}

.btn {
   width: 200px;
   height: 33px;
   font-family: 'Cardo', serif;
   margin: 20px 300px;
   background: transparent;
   color: white;
   border: 1.5px solid white;
   font-size: 18px;
   cursor: pointer;
}

.btn2 {
   font-family: 'Palatino Linotype';
   width: 300px;
   height: 40px;
   background-color: black;
   color: white;
   font-size: 12px;
   margin: 38px 20px;
   cursor: pointer;
}


/* content2 */

.content2 {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.category {
   display: flex;
   align-items: center;
   padding: 24px;
   text-decoration: none;
   color: black;
   gap: 1rem;
}

/* content3 */
.Img1 {
   display: flex;
   width: 100%;
}

.Img1 img {
   width: 337.2px;
}

/* content4 */
.left {
   display: flex;
   flex-direction: row-reverse;
   margin: 50px 0 50px 0;
}

.right {
   display: flex;

}

.contentText {
   align-self: center;
   text-align: right;
   margin: 40px;
}

.contentText1 {
   align-self: center;
   text-align: left;
   margin: 40px;

}

.content4 {
   margin-top: 100px;
}

.tema {
   width: 955px;
   height: 542px;
}

.cloe {
   margin-right: 10px;
}

.font {
   font-family: 'Cardo', serif;
   font-style: italic;
}

.paragraf2 {
   font-family: 'Roboto', sans-serif;
   color: black;
   font-weight: 600;
   text-decoration: none;
   border-bottom: 1px solid black;
}

.paragraf1 {
   margin-bottom: 55px;
}

.paragraf0 {
   margin-bottom: 30px;
}

.headerH2 {
   margin-bottom: 30px;
}

.headerH22 {
   margin-bottom: 30px;
}

.paragraf3 {
   margin-bottom: 73px;
}

.icons {
   margin-top: 55px;
}

.cor{
   margin: 0 auto;
}
.ccontett{
   display: flex;
   flex-direction: column;
}

.red {
   color: brown;
   margin-bottom: 25px;
}

.VorDemVodval {
   text-align: center;
}

.Vor {
   margin: 25px;
}

.Dem {
   margin: 20px;
}

.VorDemVod {
   width: 1000px;
   margin: 100px auto;
   text-align: center;


}

.box1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.box {
   width: 6px;
   height: 6px;
   border: 1px solid black;
   background-color: black;
   margin: 20px 1px 1px 1px;
}

.Vod {
   font-size: 13px;
   margin-top: 40px;
}

.box2 {
   width: 4px;
   height: 4px;
   border: 1px solid black;
   background-color: black;
   margin: 20px 1px 1px 1px;
}

.box3 {
   width: 3px;
   height: 3px;
   border: 1px solid black;
   background-color: black;
   margin: 20px 1px 1px 1px;
}
/* content6 */

.content6{
   display: flex;
   

}
.blok{
   width: 360px;
   height: 370px;
   display: flex;
   flex-direction:column;
   text-align: center;
   align-items: center;
   padding: 40px;

}
.ico{
   width: 100px;
   padding-bottom: 30px;
}
.kard{
   padding-bottom: 25px;
   font-weight: 100;
}
.kard2{
   padding-bottom: 30px;
   font-family: 'Cardo', serif;
}
.href{
   color: black;
   text-decoration: none;
   border-bottom: 1px solid black;
}
.blok:nth-child(odd){
   background-color: white;
}
.blok:nth-child(even){
   background-color:#F8F8F8 ;
}
.foter{
   text-align: center;
   margin: 70px;
}
.foter p{
   font-family: 'Cardo', serif;
   font-size: 17px;
   margin: 50px;
}
.foter img{
   width: 100%;
}
/* footer */

.end {
   height: 510px;
   background-color: #E9E9E9;
}

.all_contacts {
   display: flex;
}

.all_contacts ul {
   text-align: center;
   list-style: none;
   margin-left: 100px;
   margin-top: 90px;
}

li {
   margin-top: 13px;
   height: 20px;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   color: #000000;
}


li>h1 {
   height: 21px;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
}

.miss {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   margin-left: 200px;
   margin-top: 50px;
   width: 400px;
}

.miss_text {
   margin-bottom: 22px;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #000000;
}

.sub1 {
   width: 200px;
   height: 25px;
   background: #FFFFFF;
   border: 1px solid #000000;
   border-radius: 0px;
   margin-bottom: 31px;
}

.subsub {
   margin: auto;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 15px;
   text-align: center;
   color: #000000;
}


.fpf {
   display: inline;
   margin: 0 auto;
}

.pfp {
   display: inline;
   margin-right: 100px;
   margin: 0 auto;
}
.buy{
   padding-top: 85px;
   display: flex;
   justify-content: space-between;
}

/* прокрутка */
::-webkit-scrollbar {
   width: 10px;
}


::-webkit-scrollbar-track {
   background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
   background: #888;
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}